{% extends 'base.html' %}
<!-- CSS -->
{% block css %}
<style>
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.myForm {
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 0.8em;
width: 70em;
padding: 1em;
margin: 1em;
border: 1px solid rgb(92, 92, 92);
background-color: #ccc;
}

.myForm * {
box-sizing: border-box;
}

.myForm fieldset {
border: none;
padding: 0;
}

.myForm legend,
.myForm label {
padding: 0;
font-weight: bold;
}

.myForm label.choice {
font-size: 0.9em;
font-weight: normal;
}

.myForm input[type="text"],
.myForm input[type="number"],
.myForm input[type="tel"],
.myForm input[type="email"],
.myForm input[type="datetime-local"],
.myForm select,
.myForm textarea {
display: block;
width: 100%;
border: 1px solid #ccc;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 0.9em;
padding: 0.3em;
}
.myForm input:focus{
outline: none;
}
.myForm textarea {
height: 100px;
resize: none;
}

.myForm button {
    padding: 1em;
border-radius: 0.5em;
background: #eee;
border: none;
font-weight: bold;
margin-top: 1em;
}

.myForm button:hover {
    background: #ccc;
    cursor: pointer;
}
#form-vector{
    width: 30em;
}
</style>
{% endblock css %}
{% block body %}
<div class="container">
    <img id="form-vector" src="../static/vector_1.jpg" alt="intro-vector" />
    
    <form class="myForm" method="GET" action={% url 'diabetes_result' %}>
        {% csrf_token %}
        <p>
<label>Name
    <input type="text" name="name" required>
</label> 
</p>
<p>
    <label>Age
        <input type="number" name="age" required>
    </label> 
    </p>
<p>
    <fieldset>
        <legend>Gender</legend>
        <label class="choice"> <input type="radio" name="gender" required value="Male"> Male </label>
        <label class="choice"> <input type="radio" name="gender" required value="Female"> Female </label>
        <label class="choice"> <input type="radio" name="gender" required value="Other"> Other </label>
        </fieldset>
    <label>Number of Pregnancies(In case of Male, enter 0) <br>
<input type="number" name="Pregnancies" required>
</label>
</p>

<p>
    <label>Glucose Level <br>
        <input type="number" name="glucose" min="0" max="250" required placeholder="0-250">
    </label>
</p>
<p>
    <label>Blood Pressure <br>
        <input type="number" name="bp" min="0" max="200" required placeholder="0-200">
    </label>
</p>
<p>
    <label>Skin Thickness
        <input type="number" name="skinthickness" min="0" max="100" required placeholder="0-100">
    </label>
</p>
<p>
    <label>Insulin Level
        <input type="number" name="insulin" min="0" max="200" required placeholder="0-200">
    </label>
</p>
<p>
    <label>Body Mass Index
        <input type="number" name="bmi" min="0" max="100" required placeholder="0-100">
    </label>
</p>
<p>
    <label>Diabetes Padigree Function
        <input type="number" name="dpf" min="0" max="3" required placeholder="0-3">
    </label>
</p>

<!-- <fieldset>
    <legend>Extras</legend>
    <p><label class="choice"> <input type="checkbox" name="extras" value="baby"> Baby Seat </label></p>
    <p><label class="choice"> <input type="checkbox" name="extras" value="wheelchair"> Wheelchair Access </label></p>
    <p><label class="choice"> <input type="checkbox" name="extras" value="tip"> Stock Tip </label></p>
</fieldset> -->

<!-- <p>
    <label>Date of Birth
        <input type="date" name="pickup_time" required>
    </label>
</p> -->

<!-- <p>
    <label>Pickup Place
<select id="pickup_place" name="pickup_place">
    <option value="" selected="selected">Select One</option>
    <option value="office" >Taxi Office</option>
    <option value="town_hall" >Town Hall</option>
<option value="telepathy" >We'll Guess!</option>
</select>
</label> 
</p>

<p>
    <label>Dropoff Place
        <input type="text" name="dropoff_place" required list="destinations">
</label>

<datalist id="destinations">
    <option value="Airport">
        <option value="Beach">
    <option value="Fred Flinstone's House">
    </datalist>
</p>

<p>
    <label>Special Instructions
    <textarea name="comments" maxlength="500"></textarea>
</label>
</p> -->

<p><button>Submit</button></p>

</form>
</div>
{% endblock body %}    
